.mr10{
    margin-right: 10px;
}
.layui-table-cell .layui-form-checkbox[lay-skin=primary]{
    top: 0;
}
.layui-form-checked[lay-skin=primary] i{
    background-color: rgba(29,116,78,1);
}
.layui-form-onswitch{
    background-color: rgba(29,116,78,1);
}
.layui-table-page{

    margin: 0 auto;
    text-align: center;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: rgba(29,116,78,1);
}
body{
    background-color: rgba(242,242,242,1);
    min-width: 1200px;
}
.layui-card{
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 5px 0px rgba(183,221,206,0.32);
    border-radius:2px;
    margin-bottom: 0;
    float: left;
}
.layui-card:nth-child(1){
    width:100%;
}
.layui-card:nth-child(2){
    /* width:590px;*/
    width: 100%;
    margin-top: 20px;
}

.carFont{
    height:42px;
    font-size:16px;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(102,102,102,1);
    line-height:42px;
    vertical-align: middle;
}
.layui-card-body{
    padding: 0 15px 0px;
}
/*card基本样式*/

.layui-card .layui-card-header{
    display: flex;
    justify-content: space-between;
}
.layui-card:nth-child(2) .layui-card-header{
    height: 60px;
    line-height: 60px;
}
.layui-card .layui-btn{
    background-color: white;
    color: #666;
}
.layui-card:nth-child(1) .myBtn{
    width:100px;
    height:28px;
    border-radius:15px;
    border:1px solid rgba(29,116,78,1);
    line-height: 28px;
}
.layui-card:nth-child(2) .myBtn{
    width:115px;
    height:32px;
    border:1px solid rgba(221,221,221,1);
    line-height: 32px;
    padding-left: 8px;
}
.upload{
    width:88px;
    height:32px;
    border-radius:2px;
    border:1px solid rgba(221,221,221,1)!important;
    line-height: 32px;
    text-align: center;
    margin-top: 10px;
}
.layui-card:nth-child(1) .layui-form-item{     padding: 0 20px;
    margin: 16px 0px;
    clear: none;
}
th{
    height:50px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(0,0,0,0.85);
    line-height:50px;
    text-align: center;
}
td{
    height:50px;
    font-size:14px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    line-height:50px;
    text-align: center;
    color:rgba(102,102,102,1);
}
th>div,td>div{
    text-align: center;
}
.layui-table-cell{
    overflow: visible!important;
}

